/* *,
*::before,
*::after {
  box-sizing: border-box;
} */
#root {
  
  margin: 0;
  padding: 0;

}

  /* text-align: center; */

 body {
  font-family: 'Poppins', sans-serif !important;

} 

/* Hide time slots in week view */
.rbc-time-slot {
  display: none; 
}

.rbc-label {
  display: none;
}

.rbc-allday-cell {
  display: none;
}

.rbc-event {
  height: 60px !important; /* Make the event fill the entire cell height */
  width: auto !important; /* Make the event fill the entire cell width */
}

.rbc-today {
  background-color: inherit;
}

.rbc-time-view .rbc-time-gutter {
  display: flex;
  flex-direction: column;
}

.rbc-time-view .rbc-time-gutter .rbc-timeslot-group {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rbc-time-view .rbc-day-slot {
  display: flex;
  flex-direction: column;
}

.rbc-time-view .rbc-day-slot .rbc-timeslot-group {
  flex: 1;
  min-height: unset !important;
}

.rbc-event {
  position: absolute;
  z-index: 2;
}

.container {
  display: flex;
}

.employee-list {
  width: 200px; /* Fixed width for employee list */
}

.calendar {
  flex-grow: 1; /* Calendar takes remaining space */
}


/* Base styles for all devices */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Styles for mobile devices */
@media (max-width: 600px) {

  .employee-list-container {
    height: auto;
    
  }

    .container {
        flex-direction: column; /* Stack items vertically */
        padding: 10px; /* Add some padding */
    }

    .employee-list {
        width: 100%; /* Full width on mobile */
        margin-bottom: 10px; /* Space between elements */
    }

    .calendar {
        width: 100%; /* Full width on mobile */
    }
}

/* Styles for tablets */
@media (min-width: 601px) and (max-width: 900px) {
    .container {
        flex-direction: row; /* Side by side layout */
        padding: 20px; /* More padding for tablets */
    }

    .employee-list {
        width: 30%; /* Adjust width for tablets */
        margin-right: 20px; /* Space between employee list and calendar */
    }

    .calendar {
        width: 70%; /* Adjust width for tablets */
    }
}

/* Styles for desktops */
@media (min-width: 901px) {
    .container {
        flex-direction: row; /* Side by side layout */
        padding: 30px; /* More padding for desktops */
    }

    .employee-list {
        width: 25%; /* Adjust width for desktops */
        margin-right: 20px; /* Space between employee list and calendar */
    }

    .calendar {
        width: 75%; /* Adjust width for desktops */
    }
}
